name: Rust
on:
  push:
jobs:
  build:
    runs-on: ubuntu-latest
    steps:
      - uses: actions/checkout@de0fac2e4500dabe0009e67214ff5f5447ce83dd # v6.0.2
      - name: Install dependency
        run: |
          sudo apt update
          sudo apt install -y libpulse-dev
      - name: Build
        run: cargo build --verbose
      - name: Run tests
        run: cargo test --verbose
      - name: Build
        run: cargo build --locked --release --verbose
  lint:
    runs-on: ubuntu-latest
    steps:
      - uses: actions/checkout@de0fac2e4500dabe0009e67214ff5f5447ce83dd # v6.0.2
      - name: Install dependency
        run: |
          sudo apt update
          sudo apt install -y libpulse-dev
      - name: Check formatting
        run: cargo fmt --verbose
      - name: Check clippy
        run: |
          cargo clippy --verbose
          # cargo clippy -- --deny "warnings"
