name: Rust
on:
  push:
jobs:
  build:
    runs-on: ubuntu-latest
    steps:
      - uses: actions/checkout@1af3b93b6815bc44a9784bd300feb67ff0d1eeb3 # v6.0.0
      - name: Install dependency
        run: |
          sudo apt update
          sudo apt install -y libpulse-dev
      - name: Build
        run: cargo build --verbose
      - name: Run tests
        run: cargo test --verbose
      - name: Build
        run: cargo build --locked --release --verbose
  lint:
    runs-on: ubuntu-latest
    steps:
      - uses: actions/checkout@1af3b93b6815bc44a9784bd300feb67ff0d1eeb3 # v6.0.0
      - name: Install dependency
        run: |
          sudo apt update
          sudo apt install -y libpulse-dev
      - name: Check formatting
        run: cargo fmt --verbose
      - name: Check clippy
        run: |
          cargo clippy --verbose
          # cargo clippy -- --deny "warnings"
